@import "colores";

/* Estilos Carrito */

.theOrder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    display: flex;
    margin-top: 8vh;

}

.myOrder {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    display: grid;
    justify-items: center;

}
.title {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}
.my-order-container {
    align-items: center;
    width: 50%;
}

.shopping-cart {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-around;

    figure {
        margin: 0;

        img {
            width: 70px;
            height: 70px;
            border-radius: 10px;
            object-fit: cover;
        }
    }

    div {
        p:nth-child(1) {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
        font-weight: bold;
    }
        p:nth-child(2) {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
    }
    }



}


.order {
    display: flex;
    justify-content: right;
    justify-content: space-between;
    padding-left: 41%;
    padding-right: 7%;
    margin-top: 8vh;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height:100px;

        p:nth-child(5) {
            color:#F39C12;
            font-weight: 600;
            font-size: large;
        
          }


    }
    
}

.datos {
    grid-area: "datos";
}

.EnvioForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 4vh;
    }

    label {
        width: 60%;

        input {
            background-color: whitesmoke;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
            font-size: medium;
            padding: 3% 0%;
        }
    }
    div {
        width: 60%;
        height: 100px;
        margin-top: 20px;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;

        section{
            margin-bottom: 20px;
        }

        h2{
            margin-bottom: 10px;
        }
    }
}

.PayButtons {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.PayButton {
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
}